<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Award</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
            {% for one_award in all_awards %}
            <tr>
                <td><a href="/awards/{{one_award.id}}/view">{{one_award.title}}</a></td>
                <td>{{one_award.recipient.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>